#portfolio.portfolio-item:hover,
section#about.success, hr.star-light.star-me::after, .footer-above, .footer-below{
  background: #51484F;
}

nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top,
footer{
  background: black;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover{
  background: #ff0000;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .caption {
  background-color: rgba(81,72,79,.9);
}

hr.star-light.star-top::after, #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus,
a.nav-link.js-scroll-trigger.active,
a.nav-link.js-scroll-trigger.active:hover,
a.nav-link.js-scroll-trigger.active:focus
{
  background: #ff0000;
  color: white;
}

section#portfolio, hr.star-primary.star-port::after, section#contact,
hr.star-primary.star-mail::after{
  background: #006fa3;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #ff0000;
}

.btn-success, .btn.btn-lg.btn-outline.res, .btn.btn-lg.btn-outline.res:hover{
  border-color: #ff0000;
  background: #ff0000;
}

div.modal-content, div.modal-content hr.star-primary::after{
  background-color: rgba(81,72,79,.9);
  color: white;
}

#portfolioModal7 div.modal-content{ //resume modal
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #000000 0%, #686868 50%, #aaaaaa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%,#686868 50%,#aaaaaa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%,#686868 50%,#aaaaaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#aaaaaa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color:white;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #ff0000;
}

.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: #ff0000;
  }

footer .footer-above {
    padding-top: 50px;
    background-color: black;
}

footer .footer-below {
    padding-top: 50px;
    background-color: black;
}

.btn-success.focus, .btn-success:focus, .btn-success:active:focus{
    border-color: #820b0b;
    background-color: #ba1616;
    box-shadow: 0 0 0 3px rgba(255,0,0,.5);
}

.btn-success:active:hover{
  border-color: #820b0b;
  background-color: #ba1616;
}

.btn.active, .btn:active{
  background-color: #ba1616;
  border-color: #820b0b;
}

.btn-success:hover {
    background-color: #ba1616;
    border-color: #820b0b;
}

.portfolio-modal .close-modal{
  color: white;
}
