*, *::after {
  box-sizing: border-box; /*-- sets box math for all elements --*/
}

.bi-grid{
  display: grid;
  grid-template-columns: (2, 2fr);
  grid-template-rows: auto;
}

.fbf-grid{
  display: grid;
  grid-template-columns: (2, 2fr);
  grid-template-rows: auto;
}

.grid-item{
  text-align: center;
  position: relative;
  border-radius: 12px;
  align-content: center;
}
