.js-scroll-trigger img{
  width: 30%;
}

.masthead .container{
  background-image: url("ma_fav.jpg");
  background-size: cover;
}

.img-fluid-top{
  border-radius: 50%;
  width: 25%;
}

.img-fluid{
  height: 15%;
}
