.js-scroll-trigger img{
  width: 30%;
}

.masthead .container{
  background-image: url("ma_fav.jpg");
  border-radius: 12px;
  border: solid black 2px;
  background-size: cover;
}

.img-fluid-top{
  border-radius: 50%;
  border: solid black 2px;
  width: 25%;
}

.img-fluid{
  height: 15%;
}

.modal-dialog{
  height: 100 vh;
}
