@import url(https://fonts.googleapis.com/css?family=Montserrat);
.js-scroll-trigger img{
  width: 30%;
}

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  font-family: Arial;
}

.intro-text{
  height: 100px;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 100px;
    margin: 0 auto;
}

.masthead .container{
  background-image: url("color_shot.jpg");
  border-radius: 12px;
  border: solid black 2px;
  background-size: cover;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    font-size: 100px;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #ff0000;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #00ffff;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #51484F;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #ff0000;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #51484F;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.img-fluid-top{
  border-radius: 50%;
  border: solid black 2px;
  width: 25%;
}

.img-fluid{
  height: 15%;
}

.modal-body{
  height: vmax;
}

hr.star-light.star-top{
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
}

hr.star-light.star-top:after{
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  border: solid white 2px;
  border-radius: 50%;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f121';
}

hr.star-primary.star-port{
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
}

hr.star-primary.star-port:after{
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f07b';
}

hr.star-light.star-me{
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
}

hr.star-light.star-me:after{
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f2bd';
}

hr.star-primary.star-mail{
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px;
}

hr.star-primary.star-mail:after{
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f003';
}

.btn.btn-lg.btn-outline.res{
  font-weight: 700;
  color: white;
  border-color: #18BC9C;
  background-color: #18BC9C;
}

.btn.btn-lg.btn-outline.res:hover {
  color: white;
  border-color: #11866f;
  background-color: #128f76; }
